*
{
  box-sizing: border-box;
}

#root
{
  position: relative;
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
  background-color: rgb(26, 31, 44);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



#root
{
  width: inherit;
}

.Panel 
{
  min-width: 100vw;
  min-height: 100vh;
  position: relative; 
  background-color: rgb(51, 51, 51);
  overflow: hidden;
}


.Node
{
  position: absolute;
  background-color:rgba(0, 0, 0, 0.734);
  color: antiquewhite;
  top: 0;
  left: 500px;
  z-index: 3;
  border: solid;
  border-width: 1px;
  padding: .38rem;
  border-radius: 3px;
}

.nodeName
{
  padding-right: 1rem;
}

.ContextMenu
{
   position: absolute;
   width: 30px;
   left: 100px;
   top: 100px;
}

.ContextMenuSearchBar
{
  background-color: ;
}

.horizontalGridLines
{
  user-select: none;
  position: absolute;
  margin: 0;
  border-style: solid;
  border-width: 1px 0 0 0;
  left: 0;
  height: 0;
  user-select: none;
}

.verticalGridLines {
  user-select: none;
  position: absolute;
  margin: 0;
  border-style: solid;
  border-width: 0 1px 0 0;
  top: 0;
  width: 0;
  user-select: none;
}

.SideMenu
{
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 360px;
  min-height: 100vh;
  padding: .875rem;
  background-color: rgb(44, 44, 44);
  box-shadow: 0 .3px 10px 2px rgb(31, 31, 31, 0.75);
  ;
}


.Button
{
  height: 30px;
  cursor: pointer;
}

.searchIcon
{
  position: absolute;
  z-index: 1;
  left: .2rem;
  top: .1rem;

  transform: scale(.8);
}

.searchInput
{
  appearance: none;
  position: relative;
  display: inline-block;
  width: 77%;
  margin-right: 3px;
  height: 30px;
  padding: 0 .75rem 0 1.75rem;
  font-size: .85rem;
  background-color: rgb(191, 191, 191);;
  border: none;
  user-select: none;
  border-radius: 5px  0 0 5px;
  border-image: none;
  -webkit-user-select: none;
}

.sideMenuButton
{
  background-color: rgb(5, 145, 84);
  border: none;
  padding-bottom: 1px;
  border-radius: 0 5px 5px 0;

}

.searchInput::focus
{
  border: none;
}

.searchInput::active
{
  border: none;
}

.positionRelative
{
  position: relative;
}

.positionAbsolute
{
  position: absolute;
}

.displayFlex
{
  display: flex;
}

.inlineBlock
{
  display: inline-block;
}

.block
{
  display: block;
}

.iconArrow
{
  position: absolute;
  top: 0;
  left: 1.1rem;
  width: 1.3rem;
  cursor: pointer;
  padding-top: .493rem;
  fill: rgb(191, 191, 191);
  transition: all .3s ease;
}

.iconArrow.animate
{ 
  top: .3rem;
  transform: rotate(90deg);
}

.plusIcon
{
    /* position: absolute;
    top: 0;
    left: 14.1rem; */

    width: 1.3rem;
    cursor: pointer;
    stroke: rgb(191, 191, 191);
}

.cancelIcon
{
 
}

.memberContainer
{
  padding: .34rem .8344rem .34rem 2.8rem;
  margin-top: .42rem;
  background-color: rgb(28, 28, 28);
  border-radius: .5rem;
  color:rgb(191, 191, 191);
  font-weight: bold;
  justify-content: space-between;
}

.memberText
{
  user-select: none;
  cursor: default;
  font-size: 1rem;
}

.memberList
{
    padding: .45rem 1.3rem .45rem 4.7rem;
    display: flex;
    background-color: rgb(58, 58, 58);
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin-top: 6px;
    border-radius: .3rem;
}

.memberList.drag
{
   padding: .45rem 1.3rem .45rem 4.7rem;
   display: flex;
   background-color: rgb(58, 58, 58);
   justify-content: space-between;
   position: absolute;
   width: 315px;
   border-radius: .3rem;
   z-index: 3;
   transform: rotate(355deg);
   opacity: .9;
   box-shadow: 0px 0px 10px 1px rgb(16 16 16 / 75%)
}

.let
{
    color: aqua;
    position: absolute;
    padding-left: 1rem;
    left: 0;
    font-weight: bold;
    user-select: none;
    cursor: default;
}

.const
{
  color: brown;
  position: absolute;
  font-weight: bold;
  padding-left: 1rem;
  left: 0;
  user-select: none;
  cursor: default;
}

.var
{
  color: chartreuse;
  position: absolute;
  font-weight: bold;
  user-select: none;
  padding-left: 1rem;
  left: 0;
  cursor: default;
}

.editIcon
{
  height: 25px;
  cursor: pointer;
}

.editMemberTypeContext
{
  position: absolute;
  display: flex;
  left: -60px;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.47rem .75rem;
  width: 100px;
  background-color: rgb(75, 75, 75);
  border: groove  ;
  border-width: 1.3px;
  border-color: black;
  border-radius: .3rem;
  z-index: 3;
}
/* div.editMemberContext>div.container>div:nth-child(1)>span.var */

.editMemberContext
{
  position: absolute;
  top: 100px;
  background-color: rgb(28, 28, 28);
  left: calc(50vw - calc(20em / 2));
  width: 20em;
  font-size: 1.3rem;
  z-index: 5;
  border: 2px solid rgb(44, 44, 44);
  color: white;
}

.editMemberContext button
{
    background-color: rgb(28, 28, 28);
    font-size: 1.3rem;
    color: white;
    padding: 4px 20px;
    border: 2px solid rgb(44, 44, 44);
}

.editMemberContext input
{
      background-color: rgb(44, 44, 44);
      height: 2rem;
      width: 12rem;
      border: 1px solid rgb(44, 44, 44);
      appearance: none;
      color: white;
      font-size: 1rem;
      border-radius: 0;
}


.editMemberContext .container
{
  padding: 5px 1.3rem;
  margin: 15px;
  border: 2px solid rgb(44, 44, 44);
}

.editMemberContext .header{
  color: white;
  text-align: center;
  background-color: rgb(44, 44, 44);
  padding: .24rem 0;
}

.editMemberContext .var{
  position: relative;
}


.editMemberTypeContext.hidden
{
  display: none;
}

.editMemberTypeContext>.var
{
  position: relative;
  cursor: pointer;
  padding: 0;
}
.editMemberTypeContext>.const {
  position: relative;
    cursor: pointer;
    padding: 0;
}
.editMemberTypeContext>.let {
  position: relative;
    cursor: pointer;
    padding: 0;
}

.editMemberTypeContext>.let:hover  
{
    color: rgb(24, 179, 179);
}

.editMemberTypeContext>.const:hover
{

  color: rgb(109, 35, 35);
}

.editMemberTypeContext>.var:hover {
   color: rgb(98, 165, 32);
}


