.pb-1
{
    padding-bottom: .2em;
}
.pb-2 {
    padding-bottom: .4em;
}

.pb-3 {
    padding-bottom: .6em;
}

.pb-4 {
    padding-bottom: .8em;
}

.pb-5
{
    padding-bottom: 1em;
}


.pl-0
{
    padding-left: 0;
}

.pl-1 {
    padding-left: .2em;
}

.pl-2 {
    padding-left: .4em;
}

.pl-3 {
    padding-left: .6em;
}

.pl-4 {
    padding-left: .8em;

}
.pl-5 {
    padding-left: 1em;
}


.pr-1 {
    padding-right: .2em;
}

.pr-2 {
    padding-right: .4em;
}

.pr-3 {
    padding-right: .6em;
}

.pr-4 {
    padding-right: .8em;

}

.pr-5 {
    padding-right: 1em;
}


.mb-1
{
    margin-bottom: 2px;
}

.mb-2 {
    margin-bottom: 4px;
}

.mb-3 {
    margin-bottom: .6em;
}

.mb-4
{
    margin-bottom: .8em;
}

.mt-4 {
    margin-top: 10px;
}


.displayFlex
{
    display: flex;
}

.justifyContentSpaceBetween
{
    justify-content: space-between;
}

.justifyContentEnd
{
    justify-content: flex-end;
}

.justifyContentCenter
{
    justify-content: center;
}

.userSelectNone
{
    user-select: none;
}

.cursorDefault
{
    cursor: default;
}

.cursorPointer
{
    cursor: pointer;
}

.pointerEventNone
{
    pointer-events: none;
}

.pointerEventAll
{
    pointer-events: all;
}